/*Adding background image*/
body{
    background-image: url("Images/OwlPattern.jpg");
}
/* Change Navbar Brand background to teal*/
.navbar-brand{
    background-color: teal;

}
/*Adding color and bold to the Navbar brand text */
#brandText{
    color: white;
    font-weight: 700;
}
/*changing max width of default container to keep space on the right */
.container{
    max-width: 60%;
    background-color: white;
    margin-top: 140px;
    margin-left: 20px;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
/*Adding Spacing and text formatting for main title*/
.container h1{
    margin: 10px;
    color: teal;
}

/* CSS FOR ABOUT ME*/
/*Formatting for img in about me*/
#aboutImg{
    margin-right: 20px;
    margin-bottom: 15px;
}

/*CSS FOR CONTACT PAGE*/


/*Code for Footer, top border blue and grey background. Centered text.*/
footer{
    position: static;
    bottom: 0px;
    width: 100%;
  height: 35px;
  clear:both;
  text-align: center;
  background-color: grey;
  border-top: 5px solid teal;
  color: teal;
}

@media only screen and (max-width: 768px) {
    .container{
        max-width: 90%;
        margin-left: 5%;
    }
}